body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F3F3F5;
}

header {
    background-color: #2958E7;
    padding: 12px;
}

.nav-item .nav-link {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #e2e2e2; 
    font-weight: bold;
}

a.nav-link:hover {
    color: #ffffff;
}

h1.logo { 
    color: #ffffff;
    font-size: 24px;
    margin-left: 20px;
}

.login {
    background-color: #00D2F2;
    color: #0057A8;
    border: none;
    padding: 4px 20px;
    cursor: pointer;
    border-radius: 20px;
}

.login:hover {
    background-color: #00ddff;
}

.nav {
    display: flex;
    align-items: center;
}

.aula {
    background-image: url("../img/surfando.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    background-color: #36477aa6;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay h1 {
        position: relative;
        z-index: 2;
        font-size: 72px;
        color: #ffffff;
        font-weight: bold;
}

.overlay p {
        position: relative;
        z-index: 2;
        font-size: 21px;
        color: #E5E5E5;
        max-width: 750px;
        text-align: center;
        font-weight: bold;
        margin-top: 15px;
}

.container {
    padding: 70px;
    text-align: center;
}

.container p {
    color: #7D7D7D;
    font-size: 18px;
    margin-top: 15px;
}

.container h2 {
    color: #1E4AC6;
    font-size: 36px;
    font-weight: bold;
}

 /* CSS para as aulas agendaveis */

.praia-card {
    width: 90%;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0,0,0,.3);
    background: white;
}

.container-praia {
  display: grid;
  place-items: center;
  margin-top: -20px;
}

.box {
  width: 200px;
  margin: 0 auto;
}

.btn-mapa {
    background: #12B9E5;
    color: white;
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 999px;
    padding: 8px 20px;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 30px;
}

.btn-mapa:hover {
    background-color: #31c1e9;
}

.praia-header {
    background: linear-gradient(to right, #1E63F0, #1589E4, #12B9E5);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.praia-header h3 {
    margin: 10px;
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
}

.praia-header p {
    margin-bottom: 20px;
    margin-left: 25px;
    margin-top: -15px;
    font-size: 16px;
    color: #ffffff;
}

.horario-card {
    border: 2px solid #dddddd;
    border-radius: 20px;
    padding: 25px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.4s;
}

.horario-card:hover{
    border: 2px solid #245ef296;
    transition: 0.4s;
}

.horario-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-data {
    display: flex;
    align-items: center;
    gap: 30px;
}

.info-data h4 {
    font-size: 18px;
    color: #0f379c;
    margin: 0;
    font-weight: bold;
    margin-left: 2px;
}

.info-data span {
    font-size: 15px;
    color: #61646B;
    font-weight: 600;
    margin-left: -10px;
}


.btn-agenda {
    background-color: #245DF2;
    color: white;
    border: none;
    padding: 12px 32px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 15px;
    cursor: default !important;
}

.btn-agenda:hover {
    background-color: #1f53d6;
    cursor: default !important;
}

.horario-bottom {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
}

.previsao-box {
    background: #EEF7FC;
    border: 2px solid #D7EAF7;
    border-radius: 18px;
    padding: 20px;
}

.previsao-box h5 {
    margin: 0 0 15px 0;
    color: #245DF2;
    font-size: 18px;
}

.previsao-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}

.previsao-info span {
    font-size: 18px;
    color: #444444;
}

.nivel {
    background: #CFF5DB;
    color: #17944A;
    padding: 6px 18px;
    border-radius: 999px;
    font-weight: 600;
}

.vagas {
    color: #61646B;
    font-size: 15px;
    font-weight: 600;
}